/* fotn web */

@import url("https://use.typekit.net/pyp2yyf.css");

@import url("https://use.typekit.net/pyp2yyf.css");




/* variaveis */

:root {
    --cor-primeira: #064559;
    --cor-segunda: #a6032f;
    --cor-terceira: #FCFFE7;
    --cor-quarta: #BAD7E9;
    --cor-fundo: #031d25;

    --titulo-normal: "nobel", sans-serif;
    --paragrafo: "indivisible", sans-serif;
}

body {
    background-color: var(--cor-fundo);
}

.banner {
    height: 100vh;
    background-image: url(/assets/AdobeStock_454125313.jpeg);
    background-size: 120%;
    background-repeat: no-repeat;

}

.banner__cinteiners__botoes {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    justify-content: center;
    padding: 5%;
    box-sizing: border-box;
}

.conteiner {
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10%;

}

.logo {
    width: 40%;
}

.banner__botoes {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;


}

.banner__botoes__botao {
    background-color: var(--cor-segunda);
    padding: 0.6rem 1rem;
    border-radius: 1rem;
    text-decoration: none;
    color: var(--cor-terceira);
    font-family: var(--titulo-normal);
    font-weight: 300;
    font-size: 2rem;

}

/* informações */

.info {
    display: flex;
    justify-content: center;
    gap: 20%;
    width: 100%;
    height: 20vh;
    margin: 10% 0;
}

.info__conteudo {
    width: 15%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.info__imagem {
    background-image: url(/assets/circle2.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    width: 100%;
    height: 100%;
}

.icon {
    padding: 20%;
    box-sizing: border-box;
}

.info__texto {
    font-family: var(--titulo-normal);
    color: var(--cor-terceira);
    font-size: 2rem;
}

.detalhes {
    width: 100%;
    display: flex;
    gap: 5%;
    margin: 10% 0;

}

.detalhes__imagem {
    width: 100%;

}

.foto {
    width: 100%;

}

.detalhes__texto {
    width: 100%;
    color: var(--cor-terceira);
    padding: 0.5rem;
}

.detalhes__texto h1 {
    font-family: var(--titulo-normal);
    font-size: 2rem;
    margin: 0 0 2%
}

.detalhes__texto p {
    font-family: var(--paragrafo);
    font-size: 1.5rem;
    font-weight: 100;
}

.contato {
    background-color: var(--cor-quarta);
    padding: 5%;
    display: flex;
    gap: 5%;
}

.contato__form {
    width: 100%;
    display: flex;
    align-items: center;
}

label {
    font-family: var(--titulo-normal);
    font-size: 1.8rem;
    color: var(--cor-primeira);
}

input[type=text],
textarea {
    width: 100%;
    padding: 4% 5%;
    margin: 2% 0 6%;
    display: inline-block;
    border-radius: 0.3rem;
    box-sizing: border-box;
}

.contato__info {
    width: 100%;
}

.contato__info h1 {
    font-family: var(--titulo-normal);
    font-size: 1.8rem;
    margin: 5% 0 1% 0;
}

.contato__info p {
    font-family: var(--paragrafo);
    font-size: 1.6rem;
}

.contato__info__whatsapp {

}